*{
 margin: 0;
 padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background-image: url('images/graduate.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
    background-size: cover; 
}
.section-class {
    float: none;
    clear: both;
}
.main-content {
    display: block;
    float: none;
    width: 100%;
    position: relative;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#span-id{
	color: red;
}
legend{
	width: 50%;
	height: 35px;
	text-align: center;
	padding:1px;
	background: red;
	font-family:Comic Sans MS;
	color:white;
	font-size: 1.4vw;
	border-radius:15px;
	
}
img{
	display: block;
	margin: 30px auto;
	max-width: 50%;
	width:10%;
	height:auto;
}
@media only screen and (max-width: 700px) {
  img {
    width:30%;
  }
}
.enquiry-main{
	width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
	border: 5px outset white;
	
}
.enquiry-form-row{
	background-color: #ffff;
	display: block;
    width: 100%;
	height:auto%;
    border: 1px solid #ccc;
    padding: auto;
    border-radius: 4px;
    margin-bottom: 30px;
}
.enquiry-form-row-title{
	display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 12px;
	padding: 15px 0 0px 20px; 
    color: blue; #fd3753;
}
.enquiry-form-row-field{
	width: 100%;
    position: relative;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-col{
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-group {
	margin: 0 1rem 1rem 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 9px 20px;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15
}

.enquiry-form-row-field .custom-control {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 200px;
}
.custom-radiobox {
    padding-left: 0;
}
.custom-control {
    font-size: 14px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.enquiry-form-field .form-control {
    border: 1px solid #cccccc !important;
    font-size: 15px;
}

select {
	width: 100%;
	padding: 9px 20px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	background-color:#ced4da;
}
.first-option{
	color:#ced4da;
}

.submit-btn{
	text-align:center;
	display: block;
    width: 200px;
	margin: 20px auto;
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.submit-btn:hover{
	background:#FF9800;
}
/*------------------=--------------------*/

@media (min-width: 576px)
.container {
    max-width: 540px;
}
@media only screen and (max-width: 767px)
.enquiry-form-field .form-control, .enquiry-form-row-field .custom-control {
    padding: 10px;
	font-size: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
}
@media only screen and (max-width: 767px)
.enquiry-form-row-field .custom-control {
    margin-bottom: 10px;
    width: 140px;
}
